<% layout("listings/layouts/boilerplate.ejs") -%>
  <% /* this line is to use the boilerplate.ejs file , which is in layouts folder, or ab iski wajah se boilerplate.ejs
    ka code run hoga. Aur hme baar baar footer and navbar ko use nhi krna hoga qki wo boilerplate.ejs mai hoga. or hme
    iss line k wajah se dono file(footer and navbar) serve hoga. */%>

    <body>

      <div id="filters">
        <div class="filter">
          <div>
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic cities</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-mountain"></i>
            <p>Mountain views</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-campground"></i>
            <p>Campings</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-snowman"></i>
            <p>Arctic</p>
          </div>
        </div>


        <div class="filter">
          <div>
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing pools</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-cow"></i>
            <p>Farms</p>
          </div>
        </div>

        <div class="filter">
          <div>
            <i class="fa-solid fa-ship"></i>
            <p>House boats</p>
          </div>
        </div>

        <div class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
          </div>
        </div>

      </div>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-3">
        <% for (let listing of allListings) { %>
          <div class="col">
            <a href="/listings/<%= listing._id %>" class="listing-link">
              <div class="card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing image">
                <div class="card-img-overlay"> pk</div>
                <div class="card-body" style="background-color: #d8bee7;">
                  <p class="card-text">
                    <b>
                      <%= listing.title %><br>
                    </b>
                    &#8377 <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night &nbsp;
                      <i class="tax-info"> &nbsp;+18% GST</i>
                      <br>
                      <%= listing.description %><br>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <% } %>
      </div>
    </body>

    <script>
      let taxToggle = document.getElementById("switchCheckDefault");
      taxToggle.addEventListener("click", (event) => {
        let taxInfo = document.getElementsByClassName("tax-info");
        if (taxToggle.checked) {
          for (let i = 0; i < taxInfo.length; i++) {
            taxInfo[i].style.display = "block";
          }
        } else {
          for (let i = 0; i < taxInfo.length; i++) {
            taxInfo[i].style.display = "none";
          }
        }
      });
    </script>