<% layout("listings/layouts/boilerplate.ejs") -%>
<body>
  <h2>All listings !</h2>

  <!-- <button><a href="/listings/new">Add a new listing</a></button> another better way to do this is given below -->

  <!-- NOTE:- anchor tag ka matlab hi hota hai GET request , isiliye anchor tag use krte time hm koi method mention nhi krte hai -->

  <!-- <form action="/listings/new" method="GET">
    <button>Add a new listing</button>
   </form> -->     <!-- this is not required anymore cause now we can use anchor tag in navbar -->

   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    <%for(let listing of allListings){%>
    <a href="/listings/<%=listing._id %>" class="listing-link" ><!-- // is tareeke se hm pure card ko anchor tag bna sakte hai, jisse ki jab bhi user card pe click karega toh wo particular listing page pe chale jaayega -->
      <div class="card" >
       <img src="<%= listing.image %>" class="card-img-top" alt="Listing image">
       <div class="card-img-overlay"> pk</div>
       <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %><br></b>
          &#8377 <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night<br>
          <%= listing.description %><br>
        </p>
       </div>
     </div>
     <% } %>
    </a>
   </div>

  <!-- <ul>
    //<%for(let listing of allListings){%>
   // <li><a href="/listings/<%=listing._id %>"><%= listing.title %></a></li>
   // <% } %>
  </ul> -->
</body>
