<% layout("listings/layouts/boilerplate.ejs") -%>

    <div class="row">
        <div class="col-8 offset-2 mt-2 mb-2">
            <h2>
                <%= listing.title %> Details
            </h2>
            <div class="card listing-card" style="width: 60vw;">
                <img src="<%= listing.image %>" class="card-img-top" alt="Listing_image">
                <div class="card-body">
                    <i> owned by : <%= listing.owner.username %></i>
                    <br><br>
                    <a href="#" class="btn btn-primary">Grab your booking</a>
                </div>
            </div>
            <ul>
                <li>
                    <%= listing.title %>
                </li>
                <li>
                    <%= listing.description %>
                </li>
                <li>&#8377 <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>
                </li>
                <!-- Note: The use of this toLocaleString function is used to convert the price in Indian Rupee currency format -->
                <li>
                    <%= listing.location %>
                </li>
                <li>
                    <%= listing.country %>
                </li>
            </ul>
        </div>

        
            <%# this above line is used to check if the user is the owner of the particular listing then it will display
                the edit and delete buttons> by this way we can implement the functionality that only the owner can edit
                or delete the listing %>
                <div class="btns">
                    <div class="btnEdit">
                        <form method="GET" action="/listings/<%= listing._id %>/edit">
                            <button>Edit Listing</button>
                        </form>
                    </div>
                    <br>
                    <div class="btnDel">
                        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                            <button>Delete Listing</button>
                        </form>
                        <!-- this is the way to override the https request other than GET and POST -->
                    </div>
                </div>
            

                    <div class="col-8 offset-2 mb-4 mt-2">
                        <hr>
                        <h4>Make a review</h4>
                        <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation"
                            novalidate>
                            <div class="mb-4 mt-2">
                                <label for="rating" class="form-label">Rating:</label>
                                <input class="form-range" type="range" name="review[rating]" id="rating" min="0"
                                    max="5">
                            </div>
                            <div>
                                <label for="comment" class="form-label">Comment:</label>
                                <textarea name="review[comment]" placeholder="Write a review" cols="30" rows="5"
                                    id="comment" class="form-control" required></textarea>
                                <div class="invalid-feedback">Please write a review.</div>
                            </div>
                            <button class="btn btn-outline-dark mt-2">Submit Review</button>
                        </form>
                        <hr />
                        <h4><b>All reviews</b></h4>
                        <div class="row">
                            <% for (let review of listing.reviews) { %>
                                <div class="card col-5 ms-5 mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">USER NAME</h5>
                                        <p class="card-text">
                                            <%= review.comment %> .
                                        </p>
                                        <p class="card-text">
                                            <%= review.rating %> stars .
                                        </p>
                                    </div>
                                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        class="mb-2" method="post">
                                        <button class="btn btn-sm btn-dark">Delete</button>
                                    </form>
                                </div>
                                <% } %>
                        </div>
                    </div>
    </div>